head
  title FindIt

body

template(name="mainLayout")
  #container
    header
      +header
    main
      +yield
    footer
      p Meteor discovery project by Mandaryn

template(name="findit")
  .places
    each places
      +place

template(name="place")
  .place(class=distanceClass, style="order: #{distance};")
    img(src=image)
    p #{name}
    p Latitude: {{roundGeo latitude}}
    p Longitude: {{roundGeo longitude}}
    p Distance: #{distance}m

template(name="coordinates")
  | Latitude: {{roundGeo currentCoordinates.lat}}, Longitude: {{roundGeo currentCoordinates.lng}}

template(name="faq")
  p This is a simple geo game where you need to get close to the place in photo to claim it.
  p Claim as much of the places as possible to win.
