head
  title FindIt

body

template(name="mainLayout")
  #container
    header
      +yield("header")
    main
      +yield
    footer
      p Meteor discovery project by Mandaryn

template(name="findit")
  +contentFor("header")
    h1
      | FindIt
      a(href="/faq") Faq
      span.coordinates
        +coordinates

  .places
    each places
      +place

template(name="place")
  .place(class=distanceClass, style="order: #{distance};")
    img(src=image)
    p #{name}
    p Latitude: #{latitude}
    p Longitude: #{longitude}
    p Distance: #{distance}m

template(name="coordinates")
  | Latitude: #{currentCoordinates.lat}, Longitude: #{currentCoordinates.lng}

template(name="faq")
  +contentFor("header")
    h1
      a(href="/") FindIt
      | Faq

  p This is a simple geo game where you need to get close to the place in photo to claim it.
  p Claim as much of the places as possible to win.
